<div class="container" onload="imprSelec('DatosImp')">
  <app-cabecera></app-cabecera>
  <div>
    <div class="EstiloTitulo text-center" style=" margin-top: 15px">
      <p class=" marged Barra-Conf " style="color: black"> Confirmación del depósito </p>
    </div>

    <div class="text-center ">
      <h1 class="SubTit" style="color: rgb(12, 33, 116)">
        <i class="fa fa-check-circle" aria-hidden="true" style="color:rgb(51, 255, 0 ); font-size: 20px"></i>
        El depósito fue realizado exitosamente
      </h1>


      <div id="Datos">
        <div class="row form-group" *ngFor="let c of col1; let i = index">
          <div class="col-xs-6 col-md-6 textoParrafo1" style="text-align: right">
            <p> {{c}} </p>
          </div>
          <div class="col-xs-6 col-md-6 textoParrafo1" style="text-align: left">
            <p> {{col2[i]}} </p>
          </div>
        </div>
      </div>


      <div>
        <div class="textoParrafo2" id="DatosImp">
          <h3 style="text-align: center">
            <strong>Corresponsal no Bancario Banistmo</strong>
          </h3>
          <div style="text-align: center">
            <p *ngFor="let c of col1; let i = index"> {{c}} {{col2[i]}} </p>
          </div>

          <div class="row">
            <p style="font-size: 12px; text-align: center">
              <strong>
                Banistmo es el responsable por los servicios bancarios ofrecidos por el corresponsal, éste no puede prestar servicios financieros
                por su cuenta. Para más detalles de nuestros CNB, favor visitar www.banistmo.com/atulado. Verifique que la
                información en este documento esté correcta. Para reclamos comuníquese al número 3064700 Conserve esta tirilla
                como soporte.
              </strong>
            </p>
          </div>
        </div>
      </div>


      <div class="row vdivide">
        <div class=" {{ParaImprimir}}" *ngIf="reimpresion <1">
          <p class=" row marged fa fa-print ImpIcono" (click)="imprSelec()" id="IconPrint"  aria-hidden="true">
          </p>
          <p class=" text-center" style="font-size: 12px" > Reimprimir Comprobante</p>
        </div>
        <div class= "{{ParaImprimir}}">
            <p class=" row marged fa fa-home icono ImpIcono"  id="IconHome"  aria-hidden="true" routerLink="/Operario" routerLinkActive="active">
            </p>
            <p class=" text-center" style="font-size: 12px" > Finalizar Transacción</p>
          </div>

        <div class=" {{ParaImprimir}}">
          <p class="  row marged fa fa-undo ImpIcono" id="IconRevers" aria-hidden="true" routerLink="/Login" routerLinkActive="active">
          </p>
          <p class=" text-center" style="font-size: 12px"> Reversar transacción</p>
        </div>
      </div>
    </div>
  </div>