$ruta-fuente: '../assets/fuentes/icomoon';

$Amarillo: rgb(255,228,89);
$Gris-claro: rgb(244, 244, 245);
$Gris: rgb(87,97,108);
$Rojo: rgb(254,0,11);
$Azul: rgb(0,64,138);

@font-face {
    font-family: 'admin-icomoon';
    src:  url($ruta-fuente + 'eot?j2qfl1');
    src:  url($ruta-fuente + '.eot?j2qfl1#iefix') format('embedded-opentype'),
      url($ruta-fuente + '.ttf?j2qfl1') format('truetype'),
      url($ruta-fuente + '.woff?j2qfl1') format('woff'),
      url($ruta-fuente + '.svg?j2qfl1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  


  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'admin-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
  
  .icon-logo-banis:before {
    content: "\e903";
    color: $Gris-claro;
    font-size: 140px;
  }
  .icon-cashier:before {
    content: "\e901";
  }
  .icon-hand-paper-o:before {
    content: "\e902";
  }
  .icon-shop:before {
    content: "\e900";
  }
  .icon-cancel-circle:before {
    content: "\ea0d";
  }
  .fa-sign-out:before {
    content: "\f08b"
}
  
  .icon{
    font-size: 45px;
    cursor:pointer;    
    float: left;
    margin: 20% 5% 0 5%;
    color: $Azul;
    
  }
  
@media (min-width: 410px) { 
    .icon{
        font-size: 60px;
        cursor:pointer;    
        float: left;
        margin: 8% 5% 0 5%;
        color: $Azul;
        
        }
    }

  .icon-cabecera{
      @extend .fa;
      @extend .fa-sign-out;
    
  }
div{
    color: $Gris;
    font-weight: bold;
    

.titulo{
    font-size: 24px;
}

@media (min-width: 410px) { 
.titulo{
font-size: 28px;
}
}
@media (min-width: 768px) { 
.titulo{
    font-size: 40px;
}
}   

.sub-titulo{
    font-size: 24px;
    border-bottom-style: solid;
}




.marged{
    margin: 0 10% 0 10%;
}


.padded{
    padding: 0 10% 0 10%;
}

.contenido{
    margin: 2% 0 5% 0;
    }
}

a{
    color:black;
}
.nav-tabs{
    border-width: 1.5px;
    border-color: $Amarillo;
    
}
.nav-link.active{
    border-color: $Amarillo;
    border-width: 1.5px;
    border-bottom:white;
}


div{
    .elemento{
        font-size: 20px;
        display: table-cell;
        vertical-align: middle;
        height: 108px;
        cursor:pointer;
    }

}



    
.cabe{
        font-size: 16px;
    }

@media (min-width: 410px) { 
.cabe{
    font-size: 20px;
    }
}
@media (min-width: 768px) { 
    .cabe{
        font-size: 30px;
    }
}   

@media (min-width: 840px) { 
    .cabe{
        font-size: 40px;
    }
}   

.fondo-elemento{
    background-image: url('../assets/image/logo-banis.png');
    background-position: left;
    background-size: 80% 100%;
    background-repeat: no-repeat;

}

