<div class="container">
  <!-- nav de menu -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="botonopera" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" value="hola">
          <span class="sr-only">Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand ">
          <strong style="color: rgb(0,64,138) ">Menú Operador</strong>
        </p>
      </div>
      <div id="navbar" class="navbar-collapse collapse" role="tablist">
        <ul class="nav navbar-nav ">
          <li>
            <a data-toggle="tab" id="cupoLink" role="tab" href="#cupoid" (click)="mosBarra(false)" aria-expanded="false" style="color: rgb(0,64,138) ">Cupo disponible</a>
          </li>
          <li>
            <a data-toggle="tab" id="transactionsLink" role="tab" href="#trans" (click)="mosBarra(true)" style="color: rgb(0,64,138) ">Transacciones </a>
          </li>
          <li>
            <a data-toggle="tab" id="helpLink" role="tab" href="#ayuda" (click)="mosBarra(true)" style="color: rgb(0,64,138) ">Ayuda</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a id="cerraopera" routerLink="/logout" routerLinkActive="active" style="color: rgb(0,64,138) ">Cerrar sesión
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  <!-- /nav de menu -->
  <app-cabecera></app-cabecera>  
<br>
  <!-- barra progresiva  -->
  <div class="container" *ngIf = mostrar>
      <p align = right>Cupo total: $100 -- Cupo actual: ${{cupo}} </p>
      <div class="progress">
        <div class="progress-bar progress-bar-success" [style.width] = barraVerde></div>
        <div class="progress-bar progress-bar-warning" [style.width] = barraAmarillo></div>
        <div class="progress-bar progress-bar-danger" [style.width] = barraRojo></div>
      </div>
  </div>
  <!-- /barra progresiva  -->



  <div class="tab-content" id="myTabContent">
    
    <div class="tab-pane fade active in" id="cupoid" role="tabpanel" >
      <div class="row padded contenido " >
        
        <div class="text-center form-group " style=" width: 100%"> 
          <h4>{{nombre}}</h4>

          <div class="row" >
            <div class="col-md-4 col-sm-4 col-xs-12" style=" padding-top: 25px " >Cupo total:
              <br>
              <strong> $100</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" >
              <img src="{{semaforo}}" class="semaforo">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style=" padding-top: 25px " >Cupo Actual:
              <br>
              <strong> {{cupo}}</strong>
            </div>
          </div>

          <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4 col-lg-offset-4" *ngIf=true>
            <p  class="btn-custom-op  " style=" padding-top: 22px;">
              Compensar</p>
          </div>
        </div>
      </div>
      <h2>Detalle</h2>
      <div class="table-reponsive" style="color: rgb(0,64,138) ">
        <table class="table table-striped">
          <tr class="primary">
            <th># ID</th>
            <th>NOMBRE</th>
            <th>Usuario</th>
            
          </tr>
          <tr>
            <td>1 </td>
            <td>nombre1</td>
            <td>user1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>nombre2</td>
            <td>user2</td>
          </tr>
          <tr>
            <td>3</td>
            <td>nombre3</td>
            <td>user3</td>
          </tr>
          <tr>
            <td>4</td>
            <td>nombre4</td>
            <td>user5</td>
          </tr>
          <tr>
            <td>5</td>
            <td>nombre5</td>
            <td>user5</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="trans" role="tabpanel">
      <div class="row padded contenido">
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img" routerLink="/deposito" routerLinkActive="active">
          <p>
            <span class="icon-bank-sign icon "> </span>
          </p>
          <div id="transaccionDeposito" class="elemento text-center">
            Depósito
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-burning-dollar-paper-bill icon "> </span>
          </p>
          <div class="elemento text-center">
            Recargas
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-dollar-bill-through-cash-machine icon "> </span>
          </p>
          <div class="elemento text-center">
            Retiros
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-waving-dollar-bills icon "> </span>
          </p>
          <div class="elemento text-center">
            Pagos
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="ayuda" role="tabpanel">
      <br><br>
      <h1>Favor llame al 911</h1>
    </div>
  </div>



</div>