<div class="container">
  <app-cabecera></app-cabecera>


  <!-- nav de menu -->
  <br>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar" value="hola">
          <span class="sr-only">Toggle navigation </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand ">
          <strong style="color: rgb(0,64,138) ">Menú Operador</strong>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" role="tablist">
        <ul class="nav navbar-nav ">
          <li>
            <a data-toggle="tab" href="#cupo" role="tab" style="color: rgb(0,64,138) ">Cupo disponible</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#trans" style="color: rgb(0,64,138) ">Transacciones </a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#ayuda" style="color: rgb(0,64,138) ">Ayuda</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a routerLink="/logout" routerLinkActive="active" style="color: rgb(0,64,138) ">Cerrar sesión
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
<!-- barra progresiva  -->
<p align = right>Cupo inicial: $100 -- Cupo actual: ${{ventas}} </p>
  <div class="progress">
    <div class="progress-bar progress-bar-success" [style.width]= barraVerde></div>
    <div class="progress-bar progress-bar-warning" [style.width]= barraAmarillo></div>
    <div class="progress-bar progress-bar-danger" [style.width]= barraRojo></div>

  </div>
  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" [style.width]= barraVerde></div>

    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" [style.width]= barraAmarillo></div>

    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" [style.width]= barraRojo></div>
  </div>


  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active in" id="cupo" role="tabpanel">
      <div class="row padded contenido ">
        <br>
        <div class="container text-center form-group">
          Bienvenido Juan Carlos
          <br>
          <br>
          <div class="row">
            <div class="col-md-4" style=" padding-top: 25px ">Meta mensual:
              <br>
              <strong> $400</strong>
            </div>
            <div class="col-md-4">
              <img src="{{semaforo}}" class="semaforo">
            </div>
            <div class="col-md-4" style=" padding-top: 25px ">Venta actual:
              <br>
              <strong> {{ventas}}</strong>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-sm-offset-3 col-md-offset-4 col-lg-offset-4" *ngIf=t rue style="border: 2px solid yellow">
            <p  class="btn-custom-op  " style=" padding-top: 22px;">
              Compensar</p>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="trans" role="tabpanel">
      <div class="row padded contenido">
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-bank-sign icon "> </span>
          </p>
          <div class="elemento text-center">
            Depósito
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-burning-dollar-paper-bill icon "> </span>
          </p>
          <div class="elemento text-center">
            Recargas
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-dollar-bill-through-cash-machine icon "> </span>
          </p>
          <div class="elemento text-center">
            Retiros
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 btn_img">
          <p>
            <span class="icon-waving-dollar-bills icon "> </span>
          </p>
          <div class="elemento text-center">
            Pagos
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="ayuda" role="tabpanel">
      <h1>Favor llame al 911</h1>
    </div>
  </div>



</div>