<div class="container padded">
  <cabecera-deposito></cabecera-deposito>
  <div class="row  padded  EstiloTitulo">
    <div class="col-xs-8 col-sm-8 col-md-9 text-center" style=" margin-top: 18px">
      <p class="titulodeposito">Depósito en efectivo</p>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3">
      <span class="icon-bank-sign icon "> </span>
    </div>
  </div>
  <br>

  <div class="row padded">
    <div class="centrado   col-xs-12">
      <div class="div" *ngIf="MostrarFormu">
        <form class="form-horizontal">
          <div class="form-group row">
            <label id="lblNumCuentaValidar" class="control-label col-sm-3 col-form-label">Número de Cuenta:</label>
            <div class="col-sm-4  {{clase_cuenta}}">
              <input type="text" class="form-control " id="txtNumCuenta" [(ngModel)]="NumCuenta" name="numCuentaValidar" #numCuentaValidar="ngModel"
                (keyup)="validarCuenta(numCuentaValidar)" required>
            </div>
            <div class="control-label">{{errorCuenta}}</div>
          </div>
          
          <div class="text-center">
            <button id="btnRegresarCuenta" class="btnconsul btn text-center" (click)="cancelarTransaccion()" type="submit" *ngIf="MostrarBoton">Regresar</button>
            <button id="btnConsultarCuenta" class="btnconsul btn text-center" (click)="Consultar()" type="submit">Consultar Cuenta</button>
          </div>
        </form>
      </div>
      <br>
      <div class="div" *ngIf="MostrarFormu2">
        <form class="form-horizontal">
            <div class="form-group row">
              <label id="lblTitNombreInformacion" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Nombre:</label>
              <label id="lblNombreInformacion" class="col-sm-6 col-xs-12 col-form-label labelValor">{{labelNombre}}</label>
            </div>
            <div class="form-group row">
              <label id="lblTitNumeroCuentaInformacion" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Número de Cuenta:</label>
              <label id="lblNumeroCuentaInformacion" class="col-sm-6 col-xs-12 col-form-label labelValor"> {{labelNumCuenta}} </label>
            </div>
            <div class="form-group row">
                <label id="lblTitMontoInformacion" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Monto del depósito:</label>
                <div class="col-sm-4 col-xs-12 labelValor {{clase_Monto}} input-group">
                  <span class="input-group-addon">$ </span>
                  <input id="txtMontoInformacion" type="text" class="form-control" [(ngModel)]="Monto" name="numMontoValidar" #numMontoValidar="ngModel" (keyup)="ValidarMontoDeposito()" (change)="ValidarMontoDeposito()" required>
                  
                </div>
              </div>
                      
              <div class="form-group row  ">
            <label id="lblTitMontoEInformacion" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Monto entregado por el cliente:</label>
            <div class="col-sm-4 col-xs-12 labelValor {{clase_entregado}} input-group">
              <span class="input-group-addon">$ </span>
              <input type="text" class="form-control" id="txtMontoEInformacion" [(ngModel)]="Entregado" name="numEntregadoValidar" #numEntregadoValidar="ngModel" (keyup)="ValidarMontoEntregado()" (change)="ValidarMontoEntregado()" required>
            </div>
          </div>
          <div class="text-center btnMargin">
            <button id="btnRegresarInformacion" class="btnconsul btn text-center" (click)="cancelarTransaccion()" type="submit">Regresar</button>
            <button id="btnSiguienteInformacion" class="btnconsul btn text-center" (click)="confirmarCuenta()" type="submit">Siguiente</button>
          </div>
        </form>
      </div>
      <div class="info_cuenta" *ngIf="MostrarInfo">
        <form>
          <div class="form-group row">
            <label id="lblTNombreConf" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Nombre:</label>
            <label id="lblNombreConf" class="col-sm-6 col-xs-12 col-form-label labelValor">{{labelNombre}}</label>
          </div>
          <div class="form-group row">
            <label id="lblTNumConf" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Número de Cuenta:</label>
            <label id="lblNumConf" class="col-sm-6 col-xs-12 col-form-label labelValor" style="text-align: left"> {{labelNumCuenta}} </label>
          </div>
          <div class="form-group row">
            <label id="lblTMontoConf" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Monto a depósitar:</label>
            <label id="lblMontoConf" class="col-sm-6 col-xs-12 col-form-label labelValor" style="text-align: left">{{labelMontoDepositar | currency:'USD':true:'1.2-2'}} </label>
            <!--{{labelMontoDepositar | currency:'USD':true:'1.2-2'}}-->
          </div>
          <div class="form-group row">
            <label id="lblTMontoEConf" class="col-sm-6 col-xs-12 col-form-label labelTitulo">Monto entregado por el cliente:</label>
            <label id="lblMontoEConf" class="col-sm-6 col-xs-12 col-form-label labelValor" style="text-align: left">{{labelMontoEntregado | currency:'USD':true:'1.2-2'}} </label>
          </div>
        </form>

        <p class="text-center col-xs-12 textoDeposito ">Si la información presentada es correcta, pulse EJECUTAR, de lo contrario, corrija la información dando REGRESAR.
          CANCELAR regresa al menú principal.
        </p>


        <div class="row padded" >
            <input id="btnCorregirDatos" class="col-md-4 col-xs-4 botond btnCorregir" type="submit"  (click)="corregir()"  value="Corregir"  >
            <input id="btnCancelarTransaccion" class="col-md-4 col-xs-4 botond btnCorregir" type="submit"  (click)="cancelarTransaccion()"  value="Cancelar"  >
            <input id="btnEjecutarTransaccion" class="col-md-4 col-xs-4 botond btnCorregir" type="submit"  (click)="realizarDeposito()"  value="Ejecutar"  >
        </div>


      </div>
    </div>

  </div>
</div>



