<div class="container">
  <app-cabecera></app-cabecera>
  <div class="row marged" >
    <div class="img-responsive col-xs-12 col-sm-12 col-md-6">
      <br>
      <img src="assets/contacto.PNG"  class="centrado">
      <br>
      <!-- <img src="assets/flecha.PNG" style="float:left; display:block" class="flecha"> -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row">
        <div class="fondo">
          <div class="tamañoletra">Deseas hacer parte de nuestra red de Corresponsal No Bancarios?
            <br> 
            <br>
                Contactos
            <ul>
            <br>
            
                <li>Telefono:123456789
                </li>
                <li> Correo:CNB@Banistmo.com.co
  
                </li>
              </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="row marged">
      <div class="boton col-md-2 col-lg-2" routerLink="/Login" routerLinkActive="active" >
          <p style=" padding-top: 20px;">Regresar</p>
        </div>
</div>
</div>

  